* {
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 0 10px;
  perspective: 1000px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.3s;
}

.front {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.back {
  /* background-color: #000; */
  transform: rotateY(180deg);
  border-radius: 8px;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0);
}

.group-1 {
  padding: 10px 0 0 10px;
}

.card-symbol {
  font-size: 1.5rem;
}

.card-number {
  font-size: 1.2rem;
}

.card-symbol-center {
  display: flex;
  justify-content: center;
  translate: 0 20px;
  font-size: 5rem;
}

.group-2 {
  rotate: 180deg;
  padding-left: 10px;
  translate: 0 40px;
}

/* #new-position:hover {
  position: absolute;
  top: 100px;
} */
